{% extends "base.html" %}
{% block content %}
    <main class="text-center">
        <h1>Your flashcards</h1>
        <ul>
            {% for flashcard in flashcards %}
                <li>
                    <div class="card text-white bg-info bg-gradient p-3">
                        <h1>
                            <a href="{% url 'learn' slug_name=flashcard.slug %}" class="card-link">{{ flashcard.name }}</a>
                        </h1>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <hr>
    </main>
{% endblock %}
